* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #05051a;
}

/* NAVBAR */

.navbar {
  height: 70px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg,#0a0220,#140032);
}

/* LOGO */

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.logo span {
  background: linear-gradient(45deg,#ff00ff,#ffcc00);
  -webkit-background-clip: text;
  color: transparent;
}

/* MENU */

.menu {
  list-style: none;
  display: flex;
  gap: 35px;
}

.menu li a {
  color: #bbb;
  text-decoration: none;
  font-size: 16px;
}

.menu li a:hover {
  color: white;
}

/* SUBSCRIBE BUTTON */

.subscribe-btn {
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: linear-gradient(45deg,#ff00ff,#ffcc00);
  box-shadow: 0 0 15px #ff00ff;
}


.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* BACKGROUND */

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* WAVE IMAGE */

.wave {
  position: absolute;
  width: 100%;
  
  top: 45%;
  left: 0;
}


/* CONTENT CENTER */

.content {
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
/* MIC SECTION FIX */
.mic-box {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 30px;
}

.mic-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 40px rgba(255, 62, 165, 0.5);
}

.mic {
  position: relative;
  width: 85px;
  height: 150px;
  padding: 10px;
  z-index: 2;
  margin-top: 40px;
  filter: drop-shadow(0 6px 12px rgba(0,0,0,0.4));
}

.badge {
  position: absolute;
  top: 18px;
  right: -8px;
  background: #1dff9c;
  color: #001b12;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 999px;
  z-index: 3;
  box-shadow: 0 0 12px rgba(29,255,156,0.6);
}


/* MIC */

.mic-box {
  position: relative;
  
}

.mic {
  width: 140px;
}

/* NEW BADGE */

.badge {
  position: absolute;
  top: 0;
  right: -10px;
  background: #00ff9c;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: black;
  transition:0.3s;
}

/* BUTTONS */

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

button {
  padding: 12px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* SPOTIFY */

.spotify {
  background: linear-gradient(45deg,#ff00ff,#ffcc00);
  color: white;
}

.spotify img {
  width: 18px;
}

/* SUBSCRIBE */

.subscribe {
  background: transparent;
  border: 2px solid #00ffaa;
  color: #00ffaa;
  
}

body {
  background: #05051a;
}
/* SECTION */

.about-section {
  padding: 100px 80px;
  color: white;
  text-align: center;
  background: linear-gradient(90deg,#271064,#140032); ;
}

/* TEXT */

.about-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.about-text p {
  color: #bbb;
  max-width: 850px;
  margin: auto;
  line-height: 1.8;
  margin-bottom: 15px;
}

/* DIVIDER */

.divider {
  border: none;
  height: 1px;
  background: linear-gradient(90deg,transparent,#444,transparent);
  margin: 60px 0;
}

/* STATS */

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 30px;
}

.stat-box h2 {
  font-size: 42px;
  color: #00ff9c;
}

.stat-box span {
  color: #aaa;
  font-size: 13px;
  letter-spacing: 1px;
}
/* SECTION */

.feature-section {
  padding: 80px;
  color: white;
  background-color:rgba(255,0,255,0.3); ;
}

.feature-section h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

/* GRID */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* CARD */

.card {
  background: rgba(50, 0, 90, 0.7);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255,0,255,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 35px rgba(255,0,255,0.3);
}

/* ICON */

.card img {
  width: 45px;
  margin-bottom: 15px;
}

/* TEXT */

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #bbb;
  font-size: 14px;
  line-height: 1.6;
}

body {
  background: #05051a;
}

/* SECTION */

.episodes {
  padding: 80px;
  color: white;
}

.episodes h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

/* GRID */

.episode-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 25px;
}

/* CARD */

.card {
  background: #190035;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(255,0,255,0.1);
}

/* IMAGE AREA */

.thumb {
  position: relative;
   padding: 0 auto ;

}


.cover {
  width: 100%;
  display: block;
}

/* PLAY BUTTON */

.play-btn {
  position: absolute;
  width: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}

.thumb:hover .play-btn {
  transform: translate(-50%,-50%) scale(1.1);
}

/* CONTENT */

.info {
  padding: 20px;
}

.info h3 {
  margin-bottom: 10px;
}

.info p {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* TIME */

.time {
  color: #00ff9c;
  font-size: 13px;
}


body{
  background:#0a001f;
}

/* SECTION */

.host-section{
  padding:80px;
  color:white;
}

.host-section h2{
  text-align:center;
  font-size:36px;
  margin-bottom:40px;
}

/* CARD */

.host-card{
  background:#1a0038;
  max-width:900px;
  margin:auto;
  padding:30px;
  border-radius:25px;
  display:flex;
  align-items:center;
  gap:30px;
  box-shadow:0 0 30px rgba(255,0,255,0.1);
}

/* IMAGE */

.host-img img{
  width:140px;
  height:140px;
  object-fit:cover;
  border-radius:50%;
  border:4px solid #ff00ff;
}

/* CONTENT */

.host-info h3{
  font-size:26px;
  margin-bottom:10px;
}

.host-info p{
  color:#bdbdbd;
  font-size:14px;
  line-height:1.6;
  margin-bottom:15px;
}

/* SOCIAL ICONS */

.social{
  display:flex;
  gap:12px;
}

.social img{
  width:35px;
  padding:6px;
  border-radius:50%;
  background:#2d005f;
  transition:0.3s;
}

.social img:hover{
  transform:scale(1.15);
  background:#ff00ff;
}
/* FOOTER */

.footer{
  height:300px;
  background:
  linear-gradient(rgba(20,0,50,0.85),rgba(20,0,50,0.85)),
  url("images/wave-bg.png");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
}

/* CONTENT */

.footer-content{
  text-align:center;
  color:white;
}

/* LOGO */

.footer-content h1{
  font-size:50px;
  margin-bottom:15px;
}

.footer-content span{
  background:linear-gradient(90deg,#ff00ff,#00ffff);
  -webkit-background-clip: text;
  color:transparent;
}

/* ICONS */

.social-icons{
  display:flex;
  justify-content:center;
  gap:20px;
  margin:15px 0;
}

.social-icons img{
  width:32px;
  transition:0.3s;
}

.social-icons img:hover{
  transform:scale(1.2);
}

/* COPYRIGHT */

.footer-content p{
  font-size:13px;
  color:#bdbdbd;
}